@use "normalize";

@use "typeface";

html {
    font-size: 1.125rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 50rem;
    margin: 0 auto;
    line-height: 1.5rem;
    color: #222;
    background-color: #eee;
}

main {
    padding: 1rem;
}

a {
    color: #00f;
    text-decoration-color: #11f;
}

li {
    padding-bottom: 1rem;
}

/* Dark Mode */

// For Firefox before version 96
@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: #222;
    }
    a {
        color: #bbf;
        text-underline-offset: 0.0625rem; // 1/16 of the base font-size
        text-decoration-color: #ccf;
    }
}

// For Chromium, Safari, and Firefox version 96+
:root {
    color-scheme: light dark;
}

// Add favicon?